<!DOCTYPE html>
<html>
	<head>
		<title>
			Server Dashboard	
		</title>
		<style>
			body {
			    background-color: #121212;
			    color: #e0e0e0;
			    font-family: Arial, sans-serif;
			    text-align: center;
			    padding-top: 50px;
			}

			h2 {
			    color: #ffffff;
			}

			button {
			    background-color: #1f1f1f;
			    color: #e0e0e0;
			    border: 1px solid #444;
			    padding: 10px 20px;
			    margin: 10px;
			    font-size: 16px;
			    border-radius: 6px;
			    cursor: pointer;
			}

			button:hover {
			    background-color: #333;
			}
		</style>
	</head>
	<body>
		<h2>
			Server Dashboard
		</h2>
		<button onclick="location.href='/run_helloworld'">Hello world</button>
    		<button onclick="location.href='/run2'">Run Script 2</button>
	</body>
</html>
